.header{
    background-color: lightyellow;
    border: 2px solid black;
}
#education_de{
    background-color: antiquewhite;
    
}
#skills{
    background-color: beige;
    
}
#hobbies{
    background-color: azure;
    
}
#certificates{
    background-color: antiquewhite;
    
}
#lang{
    background-color: antiquewhite;
    
}